* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* header style */
.header {
    background-image: url("../images/banner/banner3.png");
    background-position: center;
    background-size: cover;
    width: 1600px;
    height: 800px;
    padding-right: 230px;
    text-align: right;
}

.header-heading {
    padding: 216px 0px 24px 845px;
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
}

.header-description {
    padding: 0px 0px 32px 876px;
    color: #FFFFFF;
}

.btn-primary {
    padding: 21px 25px;
    height: 64px;
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
}
/*  Banner design */
.banner{
    padding:430px 320px 130px 200px;
    
}
.banner-details{
    width:416px;
    height:400px;
    padding-left:800px;
    padding-top:200px;
    text-align: left;


}
.banner-heading{
    font-weight: 700;
    font-size: 40px;
    padding-bottom:24px ;
    color: #151414;

}
.banner-description{
    color: #444343;
    padding-bottom: 16px;
}
/* list style */
ul{
    list-style: none;
}
ul li::before{
    content:"\2713\0020";
    color:green;
    padding-bottom:8px;

}
/* plan section design */
.my-plan{
    text-align: center;
    padding-top:130px

}
.plan-heading{
    color: #151414;
    font-weight: 700;
    font-size: 40px;
}
.plan-container{
    display: flex;
    gap:86px;
    padding:50px 230px 130px 230px;

    
}
.plan-title{
    color: #151414;
    font-weight: 700;
    font-size: 30px;
}
.gradient-img{
    background-image: linear-gradient(to left,rgba(245, 250, 252, 0.575),rgba(19, 65, 117, 0.73)),url("../images/watch.png");
    background-size:cover;
    padding:130px 230px;
    text-align: left;


}
.grad-heading{
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding:60px 616px 24px 64px;
}
.future{
    background-color: black;
    color: #F8F8F8;
    display:flex;
    text-align: left;
    /* width:1600px; */
    height:577px;
    gap:50px;
    padding:130px 230px;
}
.future-description{
    width: 485px;
    height:317px;
    padding-right:330px;

}
.future-para{
    padding-bottom: 16px;
}
#btn-last{
    padding:10px;
}